.taskElement {
  margin-bottom: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  position: relative;
  height: 25px;
}

.taskElement:hover {
  background-color: #cccccc
}

.taskElementButton {
  position: absolute;
  right: 0px;
}

.taskButtonContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.taskButtonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

/* On mouse-over, add a grey background color */
.taskButtonContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.taskButtonContainer input:checked ~ .checkmark {
  background-color: #333333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.taskButtonContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.taskButtonContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#deleteTask {
  font-size: 21px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin-right: 5px;
}
