.inputs {
  margin-right: 10px
}

fieldset {
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

#calculator {
  margin-left: auto;
  margin-right: auto;
  width: 490px;
}

#x_value, #y_value, #operation, #result {
  padding: 2px;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  background-color: #e6e6e6;
}
